body{
    background-image: url("images/1.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

.tech{
    background-color: #1F5194;
    border-radius: 50px;
    font-family: Times;
}

.agro{
    background-color: #3E0D52;
    border-radius: 50px;
    font-family: Times;
}

/* .les_boutons{
    margin-top: % !important;
} */

.titre{
    margin-left: 40% !important;
    font-size: 85px !important;
    font-weight: bolder;
    /* align-items: center; */
    color: aliceblue ;
    /* padding: 5%; */
}

.titre1{
    margin-left: 40% !important;
    font-size: 85px !important;
    font-weight: bolder;
    margin-left: 33% !important;
    color: aliceblue ;
}

.arrondi{
    border-radius: 0px;
}

.button_large{
    background-color: aliceblue;
    color: #1d1d1d;
    max-width: 350px;
    border-radius: 10px;
    text-decoration: none;
    height: 50px;
    padding: 10px 5px 10px;
}

.card-text :hover{
    display: block;
}

.agro_nav{
    background-color: #3E0D52 !important;
}

.agro_nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

.gig_title h1{
    text-transform: uppercase;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1d1103;
}

.service_item{
    opacity: 0.7;
    background-color: rgb(211, 211, 11);
}

.icone{

    font-size: 5rem;
}