.title_content{
    margin: 15px auto ;
    width: 100%;
}

.acceuil{
    align-items: center ;
    display: flex ;
}

.titre {
    margin: 15px auto;
    text-align: center !important;
}

.titre h1{
    font-size: 50px;
    font-weight: bold;
}

.button{
    width: 200px;
    height: 50px;
    padding: 10px 10px 10px;
    color: white;
    font-weight: bold;
    border-radius: 150px;
}

.agro{
    background-color: #3E0D52 !important;
}

.tech{
    background-color: #1F5194 !important; 
}


a:hover{
    color: unset !important;
}

@media screen and (max-width : 900px) {
    .titre{
        width: 50% !important;
    }    
}



/* body{
    background-image: url("images/1.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

.tech{
    background-color: #1F5194;
    border-radius: 50px;
    font-family: Times;
}

.agro{
    background-color: #3E0D52;
    border-radius: 50px;
    font-family: Times;
}


.titre{
    margin-left: 40% !important;
    font-size: 85px !important;
    font-weight: bolder;
    color: aliceblue ;
}

.titre1{
    margin-left: 40% !important;
    font-size: 85px !important;
    font-weight: bolder;
    margin-left: 33% !important;
    color: aliceblue ;
} */